<html>
  <head>
    <title>Action</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-slate-100 focus:outline-none">
    <div class="container mx-auto">
      <nav class="text-base font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white  mb-4 mt-3 sm:items-baseline w-full">
        <div class="mb-2 sm:mb-0">
          <a href="#" class=" no-underline text-grey-darkest hover:text-blue-dark">Home</a>
          </div>
          <div>

          <button id="start-simulation-btn" class="bg-blue-500 hover:bg-blue-700 active:bg-blue-500 active:bg-blue-100 text-white py-2 px-4 rounded text-sm">Simulate Updates</button>                    

        </div>
      </nav>

    <%= yield %>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKLF-uu4vTINNZSmZvq2vjQnKwtkQYWHc&callback=initMap">
    </script>
  </body>
</html>