<html>
  <head>
    <title>PoC</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-slate-100 focus:outline-none">
  <div class="container mx-auto">
    <nav class="text-base font-sans flex flex-col text-center sm:flex-row sm:text-left py-4 px-6 bg-white mb-4 mt-3 w-full">
      <div class="flex items-center space-x-3 lg:pr-16 pr-6">
        <img class="h-16" src="/logo.png">
      </div>
      
      <div class="flex flex-grow items-center justify-end">
        <button id="show-route-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Show Route (1)
        </button>
        <button id="start-data-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Start Position (2)
        </button>
        <button id="start-simulation-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Simulate move (3)
        </button>
        <button id="show-queen-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Show Queen (4)
        </button>
        <span class="dot ml-4" id="connection-status"></span>
      </div>
    </nav>

    <%= yield %>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKLF-uu4vTINNZSmZvq2vjQnKwtkQYWHc&callback=initMap">
    </script>

  <script>
    window.onload = function() {
      initMap();

function fetchData(url, logMessage, method = 'GET', params = {}) {
  console.log(logMessage);

  const options = {
    method: method,
    headers: {
      'Content-Type': 'application/json'
    }
  };

  if (method === 'POST') {
    options.body = JSON.stringify(params);
  }

  fetch(url, options)
    .then(response => response.json())
    .then(data => console.log(logMessage, data))
    .catch(error => console.error('Error:', error));
}

      document.getElementById('show-route-btn').addEventListener('click', function(event) {
        event.preventDefault();
        const startAddress = 'Via 40 #calle 85, Riomar, Barranquilla, Atlántico';
        const endAddress = 'Cl. 47 #56-12, Barranquilla, Atlántico';
        calculateAndDisplayRoute(startAddress, endAddress);
        console.log("Draw map");
      });

      document.getElementById('start-data-btn').addEventListener('click', function(event) {
        event.preventDefault();
        fetchData('/start_data', "Create sample markers");
      });

      document.getElementById('start-simulation-btn').addEventListener('click', function(event) {
        event.preventDefault();
        fetchData('/simulate_updates', "Simulate marker position update");
      });

      document.getElementById('show-queen-btn').addEventListener('click', function(event) {
        event.preventDefault();
        fetchData('/update_location', "Location update", 'POST', {
          marker_id: "8",
          lat: "11.021863",
          lng: "-74.804177"
        });
        fetchData('/update_location', "Location update", 'POST', {
          marker_id: "8",
          lat: "11.024314",
          lng: "-74.802039"
        });
      });
    };
  </script>

</body>
</html>