<html>
  <head>
    <title>Action</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="bg-slate-100 focus:outline-none">
  <div class="container mx-auto">
    <nav class="text-base font-sans flex flex-col text-center sm:flex-row sm:text-left py-4 px-6 bg-white mb-4 mt-3 w-full">
      <div class="flex items-center space-x-3 lg:pr-16 pr-6">
        <img class="h-16" src="/logo.png">
      </div>
      
      <div class="flex flex-grow items-center justify-end">
        <button id="start-data-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Start
        </button>
        <button id="start-simulation-btn" class="bg-slate-500 hover:bg-slate-700 active:bg-slate-500 active:bg-slate-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Simulate
        </button>      
        <button id="" class="bg-blue-500 hover:bg-blue-700 active:bg-blue-500 active:bg-blue-100 text-white py-2 px-4 rounded text-sm ml-4 self-center">
          Login
          <i class="fas fa-user ms-2"></i>
        </button>
        <span class="dot ml-4" id="connection-status"></span>
      </div>
    </nav>

    <%= yield %>
    </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKLF-uu4vTINNZSmZvq2vjQnKwtkQYWHc&callback=initMap">
    </script>

    <script>
    // Initialize map when DOM content is loaded

window.onload = function() {
  initMap();

  document.getElementById('start-simulation-btn').addEventListener('click', function(event) {
    event.preventDefault();
    console.log("simulate_updates")
    fetch('/simulate_updates')
      .then(response => response.text())
      .then(data => console.log("Simulation started", data))
      .catch(error => console.error('Error:', error));
  });

  document.getElementById('start-data-btn').addEventListener('click', function(event) {
    event.preventDefault();
    console.log("start_data")
    fetch('/start_data')
      .then(response => response.text())
      .then(data => console.log("Data reset", data))
      .catch(error => console.error('Error:', error));
  });
};
    </script>
</body>
</html>